# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore testing stuff
mods/
modupdaterconfig.json
cloud_forced_update_log.json

#Ignore pyinstaller stuff
build/
dist/
ModUpdater.exe.spec

test.py